@page
@model BankWebApp.Pages.Customers.CustomersModel
@{
}


<section class="section">
    
        <h1>Customers</h1>

        @foreach(var customer in Model.Customers)
        {
            <div class="d-flex justify-content-between">
                <p>@customer.GivenName @customer.SurName</p>
                <p>@customer.Address</p>
                <p>@customer.City</p>
                <p>@customer.Country</p>
                <br/>
                <br/>
            </div>
        }
   
</section>