@page
@model BankWebApp.Pages.Customers.CustomersModel
@{
}


<section id="hero" class="hero section dark-background">

    <img class="backgroundImage" src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container mt-3" data-aos="fade-up" data-aos-delay="100">


        <div class="container section-title" data-aos="fade-up">
            <span class="description-title">Customers</span>
            <h2>Customers</h2>
        </div>


            <div class="table-responsive">

                <table class="table custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Id</th>
                            <th scope="col">
                                Name
                                <a  asp-page="/Customers/Customers"
                                    asp-route-sortBy="Name"
                                    asp-route-sortOrder="asc">
                                <i class="fa-solid fa-angle-up"></i>
                                </a>
                                <a  asp-page="/Customers/Customers"
                                    asp-route-sortBy="Name"
                                    asp-route-sortOrder="desc">
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            </th>
                        <th scope="col">
                            Address
                            <a asp-page="/Customers/Customers"
                               asp-route-sortBy="Address"
                               asp-route-sortOrder="asc">
                                <i class="fa-solid fa-angle-up"></i>
                            </a>
                            <a asp-page="/Customers/Customers"
                               asp-route-sortBy="Address"
                               asp-route-sortOrder="desc">
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                        </th>
                        <th scope="col">
                            City
                            <a asp-page="/Customers/Customers"
                               asp-route-sortBy="City"
                               asp-route-sortOrder="asc">
                                <i class="fa-solid fa-angle-up"></i>
                            </a>
                            <a asp-page="/Customers/Customers"
                               asp-route-sortBy="City"
                               asp-route-sortOrder="desc">
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                        </th>
                        <th scope="col">
                            Country
                            <a asp-page="/Customers/Customers"
                               asp-route-sortBy="Country"
                               asp-route-sortOrder="asc">
                                <i class="fa-solid fa-angle-up"></i>
                            </a>
                            <a asp-page="/Customers/Customers"
                               asp-route-sortBy="Country"
                               asp-route-sortOrder="desc">
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                        </th>
                        <th scope="col">
                            
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var customer in Model.Customers)
                        {
                            <tr>
                                <td>@customer.CustomerId</td>
                            <td><a>@customer.GivenName @customer.SurName</a></td>
                                <td>@customer.Address</td>
                                <td>@customer.City</td>
                                <td>@customer.Country</td>
                                <td><a class="more" asp-page="/Customers/Details" asp-route-id="@customer.CustomerId">Details</a></td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <a 
                                    asp-page="/Customers/Customers" 
                                    asp-route-sortOrder="@Model.SortOrder"
                                    asp-route-sortBy="@Model.SortBy"
                                    asp-route-pageNo="@(Model.CurrentPage + 1)"
                                    class="btn btn-success">
                                    Next
                                </a>
                            </td>
                        <td>CurrentPage: @Model.CurrentPage</td>
                        <td>SortBy: @Model.SortBy</td>
                        <td>SortOrder: @Model.SortOrder</td>
                            <td>aaa</td>
                            <td>aaa</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>

    
   
</section>