@page
@model BankWebApp.Pages.Customers.DetailsModel
@{
}

<section id="hero" class="hero section dark-background">
    <img class="backgroundImage blur" src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container text-center" data-aos="fade-down" data-aos-delay="100">
        <div class="row justify-content-center">
            
                <div class="customer-container d-flex py-3 justify-content-center rounded">
                    

                    <div class="customer-information">
                        @* <img src="@Model.CustomerImageUrl" alt="Customer picture" class="rounded-circle mb-3"/> *@
                    <div class="container section-title" data-aos="fade-down">
                        <span class="description-title">@Model.Customer.Surname</span>
                        <h2>@Model.Customer.Givenname</h2>
                    </div>

                    <div class="form-container d-flex flex-column gap-2">
                                <div class="d-flex gap-2">
                                <input asp-for="@Model.Customer.Givenname" class="form-control" readonly />
                                <input asp-for="@Model.Customer.Surname" class="form-control" readonly />
                                </div>

                                <div class="d-flex gap-2">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" asp-for="@Model.Customer.Gender" id="male" name="gender" value="Male" disabled />
                                        <label for="male" class="form-check-label">Male</label>
                                    </div>
                                    
                                    <div class="form-check">
                                        <input type="radio" asp-for="@Model.Customer.Gender" class="form-check-input" id="female" name="gender" value="Female" disabled />
                                        <label for="female" class="form-check-label">Female</label>
                                    </div>
                                    
                                </div>

                                <input asp-for="@Model.Customer.Streetaddress" class="form-control" readonly/>
                                <input asp-for="@Model.Customer.City" class="form-control" readonly />
                                <input asp-for="@Model.Customer.Country" class="form-control" readonly />
                                <div class="row mb-5">
                                    <div class="col-6">
                                        <a asp-page="/Customers/Update" asp-route-customerId="@Model.CustomerId" class="btn btn-success w-100">Update</a>
                                    </div>

                                    <div class="col-6">
                                        <a asp-page="/Customers/Customers"
                                           class="btn btn-secondary w-100">
                                            <i class="fa-regular fa-circle-left"></i>
                                            Back
                                        </a>
                                    </div>

                                </div>
                                
                                
                            </div>
                            
                        
                    </div>




                    <div class="accounts-information">
                        <div class="container section-title" data-aos="fade-down">
                            <span class="description-title">Accounts</span>
                            <h2>Accounts</h2>
                        </div>                        

                        <div class="table-responsive">

                            <table class="table custom-table">
                                <thead>
                                    <tr>

                                        <th scope="col">Id</th>
                                        <th scope="col">Balance</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in Model.Accounts)
                                    {
                                        <tr>
                                            <td>@account.AccountId</td>
                                            <td>@(account.Balance)kr</td>  
                                            <td>
                                                <div class="d-flex justify-content-end gap-2">
                                                    <a asp-page="Accounts/Transactions" 
                                                        asp-route-accountId="@account.AccountId" 
                                                        asp-route-customerId="@Model.CustomerId">
                                                            <span class="customer-detail-link">
                                                                <i class="fa-solid fa-circle-info fa-lg"></i>
                                                            </span>
                                                    </a>

                                                    <a asp-page="Accounts/Deposit" asp-route-accountId="@account.AccountId" asp-route-customerId="@Model.CustomerId">
                                                        <span class="customer-detail-link">
                                                            <i class="fa-solid fa-plus fa-lg"></i>
                                                        </span>
                                                    </a>

                                                    <a asp-page="Accounts/Withdrawal" asp-route-accountId="@account.AccountId" asp-route-customerId="@Model.CustomerId">
                                                        <span class="customer-detail-link">
                                                            <i class="fa-solid fa-minus fa-lg"></i>
                                                        </span>
                                                    </a>

                                                    <a asp-page="Accounts/SelectAccount" asp-route-accountId="@account.AccountId" asp-route-customerId="@Model.CustomerId">
                                                        <span class="customer-detail-link">
                                                            <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>                                    
                                    }

                                    <tr class="border-top">
                                        <td>Total balance:</td>
                                        <td>@(Model.TotalBalance)kr</td>
                                        <td></td>
                                    </tr>

                                    
                                </tbody>
                            </table>
                        </div>

                    <button type="button" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-plus"></i> Account
                    </button>

                </div>

                </div>
            
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-light bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to create a new account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post">
                    <input type="hidden" asp-for="@Model.CustomerId" />
                    <input type="hidden" asp-for="@Model.CustomerImageUrl" />
                    <input type="hidden" asp-for="@Model.TotalBalance" />
                    <button type="submit" class="btn btn-success">Create</button>                    
                </form>
            </div>
        </div>
    </div>
</div>


