@page
@model BankWebApp.Pages.Customers.UpdateModel
@{
}


<section id="hero" class="hero section dark-background">

    <img class="backgroundImage" src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container section-title" data-aos="fade-down">
        <span class="description-title">Customer</span>
        <h2>Update</h2>
    </div>

    <div class="container d-flex justify-content-center customer-container w-75 p-4 rounded" data-aos="fade-down">
        <form method="post" class="w-100">
            <input type="hidden" asp-for="@Model.CustomerId" />

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input asp-for="@Model.Customer.Givenname" class="form-control" placeholder="First name" />
                        <span asp-validation-for="@Model.Customer.Givenname" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input asp-for="@Model.Customer.Surname" class="form-control" placeholder="Last name" />
                        <span asp-validation-for="@Model.Customer.Surname" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="d-flex gap-2 py-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" asp-for="@Model.Customer.Gender" id="male" value="Male" />
                    <label for="male" class="form-check-label">Male</label>
                </div>

                <div class="form-check">
                    <input type="radio" asp-for="@Model.Customer.Gender" class="form-check-input" id="female" value="Female" />
                    <label for="female" class="form-check-label">Female</label>
                </div>
                <span asp-validation-for="@Model.Customer.Gender" class="text-danger"></span>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <div class="form-group">
                        <input asp-for="@Model.Customer.Streetaddress" class="form-control" placeholder="Address" />
                        <span asp-validation-for="@Model.Customer.Streetaddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input asp-for="@Model.Customer.Zipcode" class="form-control" placeholder="Zipcode" />
                        <span asp-validation-for="@Model.Customer.Zipcode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-2">
                <input asp-for="@Model.Customer.City" class="form-control" placeholder="City" />
                <span asp-validation-for="@Model.Customer.City" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <select class="form-control" asp-for="@Model.Customer.Country" asp-items="@Model.Countries" required>
                    
                </select>
                <span asp-validation-for="@Model.Customer.Country" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <input asp-for="@Model.Customer.Phonenumber" class="form-control" placeholder="Phone number" />
                <span asp-validation-for="@Model.Customer.Phonenumber" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <input type="email" asp-for="@Model.Customer.Emailaddress" class="form-control" placeholder="Email address" />
                <span asp-validation-for="@Model.Customer.Emailaddress" class="text-danger"></span>
            </div>


            


            <div class="d-flex gap-2">
                <a class="btn btn-secondary" asp-page="/Customers/Details" asp-route-id="@Model.CustomerId">Back</a>
                <input type="submit" class="btn btn-success" value="Update">                
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCustomerModal">
                    <i class="fa-solid fa-trash-can"></i>
                    Delete
                </button>
            </div>



        </form>
    </div>



</section>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" aria-labelledby="deleteCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-bg-dark text-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCustomerModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete this customer along with their accounts?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>





@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}