@page
@model BankWebApp.Pages.TopEarnersModel
@{
}


<section id="hero" class="hero section dark-background">

    <img class="backgroundImage" src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container mt-3">


        <div class="container section-title" data-aos="fade-down">
            <span class="description-title">Top Earners</span>
            <h2>Top Earners</h2>
        </div>
        
        <a class="btn btn-secondary mb-2"
            data-aos="fade-up"
            asp-page="/Index">
            <i class="fa-regular fa-circle-left"></i>
            Back
        </a>
        <div class="table-responsive">

            <table class="table custom-table" data-aos="fade-up">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Balance</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.TopEarners)
                    {
                        <tr>
                            <td scope="col">@customer.CustomerId</td>
                            <td scope="col">@customer.Givenname @customer.Surname</td>
                            <td scope="col">@customer.Streetaddress</td>
                            <td scope="col">@customer.TotalBalance</td>
                        </tr>
                    }
                                        
                </tbody>
            </table>
        </div>


    </div>



</section>
